*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    display: flex;
    height: 15vh;
    justify-content: space-around;
}

.pata {
    width: 10vw;
}

header div {
    color: white;
    display: flex;
    align-items: center;
}
